@charset "utf-8";
html {
  color: #333;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
body,
button,
input,
select,
textarea {
  font-family: PingFangSC-Light;
}
input,
select,
textarea {
  font-size: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
i,
strong,
th,
var,
optgroup {
  font-style: normal;
  font-weight: normal;
}
address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-style: normal;
  font-weight: 500;
}
ol,
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}
a {
  color: #333;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
input {
  border: none;
  outline: none;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type='checkbox'],
input[type='radio'] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}
input[type='search'] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type='text'] {
  -webkit-appearance: none;
}
textarea {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
@media screen and (min-width: 320px) {
  html {
    font-size: 42.67px;
  }
}
@media screen and (min-width: 375px) {
  html {
    font-size: 50px;
  }
}
@media screen and (min-width: 384px) {
  html {
    font-size: 51.2px;
  }
}
@media screen and (min-width: 412px) {
  html {
    font-size: 54.93px;
  }
}
@media screen and (min-width: 414px) {
  html {
    font-size: 55.2px;
  }
}
@media screen and (min-width: 460px) {
  html {
    font-size: 61.33px;
  }
}
@media screen and (min-width: 480px) {
  html {
    font-size: 64px;
  }
}
@media screen and (min-width: 540px) {
  html {
    font-size: 72px;
  }
}
@media screen and (min-width: 640px) {
  html {
    font-size: 85.33px;
  }
}
@media screen and (min-width: 720px) {
  html {
    font-size: 96px;
  }
}
@media screen and (min-width: 740px) {
  html {
    font-size: 98.67px;
  }
}
@media screen and (min-width: 750px) {
  html {
    font-size: 100px;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 102.4px;
  }
}
@media screen and (min-width: 800px) {
  html {
    font-size: 106.67px;
  }
}
@media screen and (min-width: 960px) {
  html {
    font-size: 128px;
  }
}
@media screen and (min-width: 1080px) {
  html {
    font-size: 144px;
  }
}
@media screen and (min-width: 1024px) {
  html {
    font-size: 136.53px;
  }
}
@media screen and (min-width: 1242px) {
  html {
    font-size: 165.6px;
  }
}
@media screen and (min-width: 1280px) {
  html {
    font-size: 170.67px;
  }
}
@media screen and (min-width: 1536px) {
  html {
    font-size: 204.8px;
  }
}
@media screen and (min-width: 2048px) {
  html {
    font-size: 273.07px;
  }
}
html,
body {
  width: 100%;
  min-height: 100vh;
}
* {
  box-sizing: border-box;
}
input {
  -webkit-appearance: none;
}
textarea {
  -webkit-appearance: none;
}
.fsize24 {
  font-size: 0.24rem !important;
}
.fsize26 {
  font-size: 0.26rem !important;
}
.fsize28 {
  font-size: 0.28rem !important;
}
.fsize30 {
  font-size: 0.3rem !important;
}
.fsize32 {
  font-size: 0.32rem !important;
}
.fsize36 {
  font-size: 0.36rem !important;
}
.fsize46 {
  font-size: 0.46rem !important;
}
.fsize56 {
  font-size: 0.56rem !important;
}
.fsize66 {
  font-size: 0.66rem !important;
}
.gfff {
  color: #fff !important;
}
.g999 {
  color: #999 !important;
}
.g666 {
  color: #666 !important;
}
.g333 {
  color: #333 !important;
}
.g3348bd {
  color: #3348bd !important;
}
.gfc9836 {
  color: #fc9836 !important;
}
.g3679fc {
  color: #3679fc !important;
}
.fweight {
  font-weight: bold;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.overflow-hidden {
  overflow: hidden;
}
.text-center {
  text-align: center !important;
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
.p-relative {
  position: relative;
}
/* common head */
body {
  background: #6075e2;
}
.head {
  height: 0.88rem;
  width: 100%;
  position: relative;
}
.back {
  width: 0.2rem;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0.3rem;
  background: url('../img/20201113bchimg1.png') no-repeat left;
  display: inline-block;
  background-size: 0.18rem 0.34rem;
}
.title {
  font-size: 0.36rem;
  color: #fff;
  text-align: center;
  line-height: 0.88rem;
}
