<%- include('../partials/header'); %>
<div class="container">
        <h1>Add New Comment to <%= campground.name %></h1>

        <form action="/campgrounds/<%= campground._id %>/comments" method="POST">
            <div class="form-group">
              <label for="campgroundName">Comment</label>
              <input type="text" class="form-control" id="campgroundName" name="comment[text]">
            </div>
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
          </form>
        
        <a href="/campgrounds">Go back</a>
</div>
<%- include('../partials/footer'); %>
