<%- include('../partials/header'); %>
<div class="container">
        <h1>Create a New Campground</h1>

        <form action="/campgrounds" method="POST">
            <div class="form-group">
              <label for="campgroundName">Campground Name</label>
              <input type="text" class="form-control" id="campgroundName" name="campName">
            </div>
            <div class="form-group">
              <label for="campgroundPrice">Campground Price</label>
              <input type="number" class="form-control" id="campgroundPrice" name="campPrice" min="0.01" step="0.01">
            </div>
            <div class="form-group">
              <label for="campgroundImg">Image url</label>
              <input type="text" class="form-control" id="campgroundImg" name="campImg">
            </div>
            <div class="form-group">
                <label for="campgroundDescription">Description</label>
                <input type="text" class="form-control" id="campgroundDescription" name="campDescription">
            </div>
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
          </form>
        
        <a href="/campgrounds">Go back</a>
</div>
<%- include('../partials/footer'); %>
